# Import Libraries

In [1]:
import pandas as pd
import numpy as np
import os

# Import Data

In [2]:
path = r"C:\Users\edriesberg\Google Drive\Instacart Basket Analysis"

In [3]:
df = pd.read_csv(os.path.join(path,'02 Data','Original Data','customers.csv'))

## Question 4.
Wrangle the data so that it follows consistent logic; for example, rename columns with illogical names and drop columns that don’t add anything to your analysis.

### Evaluate Current Status

In [4]:
df.head(15)

,user_id,First Name,Surnam,Gender,STATE,Age,date_joined,n_dependants,fam_status,income
0,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665
1,33890,Patricia,Hart,Female,New Mexico,36,1/1/2017,0,single,59285
2,65803,Kenneth,Farley,Male,Idaho,35,1/1/2017,2,married,99568
3,125935,Michelle,Hicks,Female,Iowa,40,1/1/2017,0,single,42049
4,130797,Ann,Gilmore,Female,Maryland,26,1/1/2017,1,married,40374
5,133128,Cynthia,Noble,Female,Kentucky,43,1/1/2017,2,married,49643
6,152052,Chris,Walton,Male,Montana,20,1/1/2017,0,single,61746
7,168851,Joseph,Hickman,Male,South Carolina,30,1/1/2017,0,single,63712
8,69965,Jeremy,Vang,Male,Texas,47,1/1/2017,1,married,162432
9,82820,Shawn,Chung,Male,Virginia,26,1/1/2017,2,married,32072
10,26441,Gloria,Stafford,Female,Nevada,19,1/1/2017,2,living with parents and siblings,43443
11,33835,Roger,Casey,Male,Nebraska,45,1/1/2017,2,married,47988
12,75032,Cynthia,Mcdaniel,Female,Georgia,75,1/1/2017,1,married,57835
13,51,Stephanie,Jensen,Female,Wyoming,37,1/1/2017,1,married,71190
14,516,Peter,Hunt,Male,Colorado,51,1/1/2017,2,married,146559

In [5]:
df.shape

(206209, 10)

In [6]:
df.describe()

             user_id            Age   n_dependants         income
count  206209.000000  206209.000000  206209.000000  206209.000000
mean   103105.000000      49.501646       1.499823   94632.852548
std     59527.555167      18.480962       1.118433   42473.786988
min         1.000000      18.000000       0.000000   25903.000000
25%     51553.000000      33.000000       0.000000   59874.000000
50%    103105.000000      49.000000       1.000000   93547.000000
75%    154657.000000      66.000000       3.000000  124244.000000
max    206209.000000      81.000000       3.000000  593901.000000

### Change Columns

In [7]:
# Rename columns for uniformity

df = df.rename(columns = {'First Name':'first_name','Surnam':'last_name',
                     'Gender':'gender','STATE':'state','Age':'age'
                    })

In [8]:
#Delete first and last name columns for security reasons.

del df['first_name']
del df['last_name']

In [9]:
# Change Datatype of user_id

df['user_id'] = df['user_id'].astype('str')

In [10]:
df.dtypes

user_id         object
gender          object
state           object
age              int64
date_joined     object
n_dependants     int64
fam_status      object
income           int64
dtype: object

In [11]:
#Check on variable counts for text answers to ensure no need to consolidate

df.value_counts('fam_status')

fam_status
married                             144906
single                               33962
divorced/widowed                     17640
living with parents and siblings      9701
dtype: int64

## Question 5.
Complete the fundamental data quality and consistency checks you’ve learned throughout this Achievement; for example, check for and address missing values and duplicates, and convert any mixed-type data.

In [12]:
df.isnull().sum()

user_id         0
gender          0
state           0
age             0
date_joined     0
n_dependants    0
fam_status      0
income          0
dtype: int64

In [13]:
# This line was valid prior to deleting the first and last name columns

# miss_val_filt = df['first_name'].isnull() == True

In [14]:
# df_nan = df[miss_val_filt]

In [15]:
# df_nan

I am not going to delete these rows, as long as it is recognized that any analysis using the first name, will have less usable information than other analyses.

In [16]:
df_dups = df[df.duplicated()]

In [17]:
df_dups

Empty DataFrame
Columns: [user_id, gender, state, age, date_joined, n_dependants, fam_status, income]
Index: []

There are no duplications in the dataset.

In [18]:
# Check for mixed types in df
def mixed_types(x):
    for col in x.columns.tolist():
        weird = (x[[col]].applymap(type) != x[[col]].iloc[0].apply(type)).any(axis = 1)
        if len (x[weird]) > 0:
            print(col)

In [19]:
mixed_types(df)

There are mixed types in the first name column.  I will turn them all into `str`

In [20]:
# df['first_name'] = df['first_name'].astype('str')

In [21]:
mixed_types(df)

All mixed types are cleaned

In [22]:
#Export customer df to 'Prepared Data'
df.to_csv(os.path.join(path,'02 Data','Prepared Data','customer_clean.csv'),index = False)

## Question 6.
Combine your customer data with the rest of your prepared Instacart data. Tip: Make sure the key columns are of the same data type!

In [23]:
#Import working dataframe
ords_prods_merge = pd.read_pickle(os.path.join(path,'02 Data',
                                               'Prepared Data',
                                               'ords_prods_merge_clean.pkl'))

In [24]:
ords_prods_merge.columns

Index(['order_id', 'user_id', 'user_order_number', 'orders_day_of_week',
       'order_hour_of_day', 'days_since_prior_order', 'product_id',
       'add_to_cart_order', 'reordered', 'product_name', 'aisle_id',
       'department_id', 'prices', '_merge', 'price_range_loc', 'busiest day',
       'busiest days', 'busiest_period_of_day', 'max_order', 'loyalty_flag',
       'avg_spend', 'spend_flag', 'order_freq', 'order_freq_flag'],
      dtype='object')

In [25]:
customers = df

In [26]:
customers.columns

Index(['user_id', 'gender', 'state', 'age', 'date_joined', 'n_dependants',
       'fam_status', 'income'],
      dtype='object')

In [27]:
ords_prods_merge['user_id'].dtype

dtype('int64')

In [28]:
customers['user_id'].dtype

dtype('O')

Convert dtype of `ords_prods_merge` to match `customers`

In [29]:
ords_prods_merge['user_id'] = ords_prods_merge['user_id'].astype('str')

In [30]:
del ords_prods_merge['_merge']

In [31]:
ords_prods_merge.shape

(32404859, 23)

In [32]:
customers.shape

(206209, 8)

In [33]:
ords_prods_cust = ords_prods_merge.merge(customers, on = 'user_id', indicator = True, how = 'left')

In [34]:
ords_prods_cust.shape

(32404859, 31)

The DataFrame has the same number of rows as before, meaning the merge was successful.

In [35]:
ords_prods_cust['_merge'].value_counts()

both          32404859
left_only            0
right_only           0
Name: _merge, dtype: int64

In [36]:
ords_prods_cust.to_pickle(os.path.join(path,'02 Data','Prepared Data','ords_prods_cust.pkl'))